# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Binaries
bigfac/bigfac
chat/client/chatclient
chat/server/chatserv
collatz/collatz
confour/confour
letfreqs/letfreqs
mandelbrot/mandelbrot
timefetch/timefetch
vowelcount/vowelcount
